[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.coffee]
indent_style = tab
tab_width = 2

[*.js]
indent_style = tab
tab_width = 4

[*.yml]
indent_style = space
tab_width = 2

[*.json]
indent_style = space
tab_width = 2
